* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Start header style*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header .logo {
    width: 5px;
}
.header-menu {
    position: relative;
}
.header .header-menu .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

/*End header style*/